config/jei/world
usernamecache.json
materials-to-use.yaml
*.jar
backup mods/*
crash-reports/*
defaultconfigs - copy/*
downloads/*
emojiful/*
saves/*
saves/test8/region/r.49.47.mca
test/*
patchouli_books/*
fancymenu_*/*
minecolonies/*
mods*/*
pmmo-data*/*
profile*/*
resources/*
resourcepacks/*
schematics/*
shaderpacks/*
shrines-*/*
simple-*/*
structurize/*
unknown*/*
*.zip
logs/*
screenshots/*
realms_persistence.json
patchouli_data.json
options.txt
servers.dat_old
usercache.json
journeymap/*
dimensions.txt
knownkeys.txt
kubejs - original
config - original
defaultconfigs - Copy (2)
mods - original - Copy
.curseclient
allentities.json
Another Quality Modpack 3 [Forge] (1) - Shortcut.lnk
artifacts-server.toml
Another Quality Modpack 3 [Forge] (1) - Shortcut.lnk
config-backup/*
kubejs-backup/*
simple-rpc.bak
servers.dat
.persistent/multibeds/embroidery.dat
kubejs/assets/*
*.psd
tconstruct-common.toml
TrashSlotSaveState.json
AQM3-1.18.2/
.persistent/multibeds/projects.dat
enigmatic_persistence.dat
config/spark/activity.json
replay_pid7788.log
replay_pid12492.log
reauth.toml
AQM3 1.18.2.rar
.vscode/probe.code-snippets
not-enough-crashes/Uploaded Crash logs.txt
hs_err_pid12492.log
hs_err_pid41036.log
hs_err_pid7504.log
hs_err_pid7788.log
config - copy
config/agricraft
config/serverconfigupdater-common-1.toml.bak
futurepack_not_read.temp
hs_err_pid36752.log
hs_err_pid8008.log
.vscode/schema.json
.vscode/settings.json
*.bak
kubejs/jsconfig.json
kubejs/exported
*.ts
kubejs/jsconfig.json
rhino.local.properties
WailaErrorOutput.txt
hs_err_pid64656.log
automation/secrets.ps1
automation/get-game-versions.ps1
automation/game-versions.json
kubejs/probe/cache/cachedEvents.json
kubejs/probe/cache/cachedForgedEvents.json
kubejs/probe/cache/javaClasses.json
kubejs/probe/cache/mergedClasses.json
kubejs/probe/generated/constants.d.ts
kubejs/probe/generated/events.d.ts
kubejs/probe/generated/globals.d.ts
kubejs/probe/generated/java.d.ts
.vscode/probe.class-definitions.json
.vscode/probe.lang-schema.json
