config/jei/world
usernamecache.json
materials-to-use.yaml
*.jar
backup mods/*
crash-reports/*
defaultconfigs - copy/*
downloads/*
emojiful/*
saves/*
saves/test8/region/r.49.47.mca
test/*
patchouli_books/*
fancymenu_*/*
minecolonies/*
mods*/*
pmmo-data*/*
profile*/*
resources/*
resourcepacks/*
schematics/*
shaderpacks/*
shrines-*/*
simple-*/*
structurize/*
unknown*/*
*.zip
logs/*
screenshots/*
realms_persistence.json
patchouli_data.json
options.txt
servers.dat_old
usercache.json
minecraftinstance.json
journeymap/*
dimensions.txt
knownkeys.txt
.curseclient
allentities.json
Another Quality Modpack 3 [Forge] (1) - Shortcut.lnk
artifacts-server.toml
Another Quality Modpack 3 [Forge] (1) - Shortcut.lnk
config-backup/*
kubejs-backup/*
simple-rpc.bak
servers.dat
.persistent/multibeds/embroidery.dat
kubejs/assets/*
*.psd
tconstruct-common.toml
TrashSlotSaveState.json
AQM3-1.18.2/
.persistent/multibeds/projects.dat
enigmatic_persistence.dat
config/spark/activity.json
replay_pid7788.log
replay_pid12492.log
reauth.toml
AQM3 1.18.2.rar
.vscode/probe.code-snippets
not-enough-crashes/Uploaded Crash logs.txt
hs_err_pid12492.log
hs_err_pid41036.log
hs_err_pid7504.log
hs_err_pid7788.log
